/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

p,
h1 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
}

body {
  background-color: var(--light);
  color: var(--gray700);
  font-family: var(--ff);
  font-weight: 400;

  min-height: 100dvh;
  min-height: 100vh;
  height: 100%;

  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
}

p {
  font-size: 0.9375rem !important;
  line-height: 1.625rem !important;
}

* {
  transition: all ease 0.2s;
}
