:root {
  --light: #fffdfa;
  --white: #fff;
  --gray400: #c5c6ce;
  --gray700: #5e607a;
  --gray900: #00001a;
  --accentOrange: #e9ab53;
  --accentRed: #f15e50;

  --ff: "Inter", "sans-serif";
  // --itemShadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
}
