@use "../mixin" as c;

.main-article {
  display: grid;
  gap: 4rem;
  margin-bottom: 4rem;

  @include c.respond(tab-land) {
    grid-template-columns: 1fr 21.875rem;
    gap: 1.875rem;

    margin-bottom: 4.375rem;
  }
}

.featured-article {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20.2rem, 1fr));

  padding-bottom: 5rem;

  @include c.respond(tab-port) {
    gap: 1.875rem;
    padding-bottom: 3.125rem;
  }
}
